div( data-role="panel" data-title-caption="JELLYFISH" )
    table.table.subcompact.cell-border
        tr
            td.no-wrap Internal Encoded Bytes
            td.text-right
                span#jellyfish-internal-encoded-bytes 0
        tr
            td.no-wrap Leaf Encoded Bytes
            td.text-right
                span#jellyfish-leaf-encoded-bytes 0
        tr
            td.no-wrap Storage Reads
            td.text-right
                span#jellyfish-storage-reads 0
