div( data-role="panel" data-title-caption="LEDGER STORAGE" )
    table.table.subcompact.cell-border
        tr
            td.no-wrap Events Created
            td.text-right
                span#storage-ledger-events-created 0
        tr
            td.no-wrap New Stale Leaves
            td.text-right
                span#storage-ledger-new-state-leaves 0
        tr
            td.no-wrap New State Nodes
            td.text-right
                span#storage-ledger-new-state-nodes 0
        tr
            td.no-wrap Stale State Leaves
            td.text-right
                span#storage-ledger-stale-state-leaves 0
        tr
            td.no-wrap Stale State Nodes
            td.text-right
                span#storage-ledger-stale-state-nodes 0
