div( data-role="panel" data-title-caption="REQUESTS & RESPONSES" )
    table.table.subcompact.cell-border
        tr
            td.no-wrap Sent Requests Total
            td.text-right
                span#sent-requests-total 0
        tr
            td.no-wrap Requests Server Summary
            td.text-right
                span#server-summary-requests 0
        tr
            td.no-wrap Global Summary Errors
            td.text-right
                span#server-summary-errors 0
        tr
            td.no-wrap Error Responses Total
            td.text-right
                span#error_responses_total 0
        tr
            td.no-wrap Error Responses Server
            td.text-right
                span#error_responses_storage_server_summary 0
