div( data-role="panel" data-title-caption="SYNC STATE" )
    table.table.subcompact.cell-border
        tr
            td.no-wrap Committed
            td.text-right
                span#sync-committed 0
        tr
            td Highest
            td.text-right
                span#sync-highest 0
        tr
            td Synced
            td.text-right
                span#sync-synced 0
        tr
            td Target
            td.text-right
                span#sync-target 0
        tr
            td ReConfig Count
            td.text-right
                span#state_sync_reconfig_count 0
        tr
            td Timeout Total
            td.text-right
                span#state_sync_timeout_total 0
