div( data-role="panel" data-title-caption="NETWORK" )
    div.d-flex.flex-column.flex-align-center.h-100
        div#net-load-tx.w-100
        div#net-load-rx.w-100
        div.mt-auto.w-100.p-2.bg-system.border.bd-system.border-radius-4
            div.d-flex.flex-row.flex-nowrap.flex-justify-center.flex-align-end
                div.text-center.w-50
                    div.text-center.text-small.text-muted.fg-normal Network Traffic
                    span.h4.m-0.text-center.fg-info2#all-traffic 0
                    small.ml-1.fg-normal MB/S
                div.text-center.border-left.bd-system.w-50
                    div.text-center.text-small.text-muted.fg-normal Connections
                    span.h4.m-0.text-center.fg-info2#net-conn 0
